
/* Main */
body {
    margin: 0;
}
.navbar {
    display: flex;
    background-color: rgb(23, 25, 27);
    position: fixed;
    top: 0;
    width: 100%;
    flex-flow: row;
}
.navbar a {
    flex: 1 1 calc((100% / 3) - 20px) ;
    color: rgb(218, 203, 203);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover {
    background: wheat;
    color: black;
}
.active {
    overflow: hidden;
    background-color: rgb(161, 112, 20);
    color: black;
}
.container {
    margin-top: 40px;
    display: flex;
    flex-flow: row;
}
.main {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
}
.main2 {
    margin: 2px;
    padding: 2px;
    flex-basis: 400px;
    background-color: teal;
    color: white;
    border: 1px solid black;
}
.aside {
    display: flex;
    flex-flow: row wrap;
    width: 20%;
}
.aside2 {
    margin: 2px;
    padding: 2px;
    flex-basis: 400px;
    background-color: tan;
    color: black;
    border: 1px solid black;
}
footer {
    height: 100px;
    width: calc(100% - 4px);
    border: 2px solid black;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
footer h1 {
    padding: 16px;
}
.logo {
    float: left;
    width: auto;
    height: 100px;
}

/* Sales */
.sidemenu{
   height: auto;
   width: 160px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(46, 138, 138);
   overflow-x: hidden;
   padding: 20px;
   margin-top: 40px;
}
.sidemenu a {
    padding: 2px 8px 2px 12px;
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
}
.sales div {
    display: flex;
    margin-left: 220px;
    padding: 2px;
    flex-basis: auto;
    background-color: teal;
    color: white;
    border: 1px solid black;
}
.img {
    flex: 1 1 px;
}